## Employees performance and delivered value

![Employee performance](performance.jpg)

#### Description of the topic

The aim of this project is to show the variables that can affect the employee performance in an IT company and the value delivered. 

The data sets will be simulated based as much as possible in the real world behaviour and the variables will be studied to determine the ones that could cause more impact and to see tendences when linking them.

Some variables that could infuence employee performance:

- Time/hours in the workplace
- Employee Motivation
- Training /coferences the employee attends
- Salary
- Length of employment
- Experience in the position
- Employee empowerment
- Initial level of studies
- Meetings the employee has in a day
- Number of interruptions in a day
- Emails received per day


The performance can be measured based on different approaches:

- Delivered value **
- Velocity (measured in story points*)
- Incidents in production
- Defects per story point* 
- Customer satisfaction
- Time to market
- ROI (Return On Investment)
- Completion of individual goals


From the variables above, depending on the initial research, the most significant will be taken for study.

In this first approach the timeframe of the mesurements will be a year.

**Investigation of existing studies**

- _Linking Belgian employee performancemanagement system characteristicswith performance management systemeffectiveness: exploring the mediatingrole of fairness_

https://www.researchgate.net/publication/46469879_Linking_Belgian_employee_performance_management_system_characteristics_with_performance_management_system_effectiveness_Exploring_the_mediating_role_of_fairness 

     Summary: The paper studies the effectiveness of Performance Management System, the variables that influence it and the outcomes of it. 
The main conclusion is that the way of implementing the system has a big influenece in the outcome.

- _Data: Hours worked in 2017_
    https://data.oecd.org/emp/hours-worked.htm

    Summary: Data per country: mean hours worked in 2017

- _The Association of the 24 Hour Distribution of Time Spent in Physical Activity, Work, and Sleep with Emotional Exhaustion._

        Summary: Interesting approach on how to pressent the results of the study with Ternary plot.

- _How do you measure value?_

    https://www.thoughtworks.com/insights/blog/how-do-you-measure-value

    Summary: Key factors and graphical representations on how to measure value in a company.

- _Infographic: You waste a lot of time at work_

    https://www.atlassian.com/time-wasting-at-work-infographic

    Summary: Factors that can reduce employee performance.

- _In an 8-Hour Day, the Average Worker Is Productive for This Many Hours_

    https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/

    Summary: Article about how more hours at work could not translate into more productivity.

- _Wages and Employees Performance: The Quality of Work Life as Moderator._
International Journal of Economics and Financial Issues, 2015, 5(Special Issue) 349-353.

    Summary: Research about how the effect of wages on employees performance are moderated by the quality of work life. It takes into consideration as well promotion policies, democratic supervision, employee involvement and safe working conditions, perception that they want to feel safe, satisfied and get a chance to be able to grow.

    It presents the descriptive statistics about the data in a table.


- _Impact of Motivation on Employee Performances: A Case Study of Karmasangsthan Bank Limited, Bangladesh_

    https://www.omicsonline.org/open-access/impact-of-motivation-on-employee-performances-a-case-study-of-karmasangsthan-bank-limited-bangladesh-.php?aid=86681

        Summary: In this research salary is described as an extrinsic motivation along with Monetary Incentives and Compensation Package.

![Salary impact](salary.png)

        The representation above is extremely valuable for this project as it can be seen that the relationship between salary and motivation will be similar to a exponential distribution.

- _Data Distributions_
http://www.ucd.ie/ecomodel/Resources/Sheet4_data_distributions_WebVersion.html

    Summary: Brief of data distributions.
    
- _Education you need to work at companies like Facebook, Google and Amazon_
https://www.cnbc.com/2017/07/26/how-long-youll-need-to-go-to-school-to-work-at-top-tech-companies.html

    Summary: Level of studies distribution in top tech companies.

**What is understood as value?**

Based on the context of an IT company, value will be presented as:

ROI: Return on investment
Return on investment (ROI) measures the gain or loss generated on an investment relative to the amount of money invested. ROI is usually expressed as a percentage and is typically used for personal financial decisions, to compare a company's profitability or to compare the efficiency of different investments.

The return on investment formula is:

ROI = (Net Profit / Cost of Investment) x 100


_Source: https://www.thoughtworks.com/insights/blog/how-do-you-measure-value_ and https://investinganswers.com/financial-dictionary/technical-analysis/return-investment-roi-1100

From the initial research value is going to be one of the main variable to analyse, eventhough at this stage, the way of measuring it or the distribution that this value can have is quite uncertain.

**Time/hours in the workplace**

From the initial research we could differentiate between time spent at the workplace and productive working hours. From a recent research just 2 hours and 53 minutes of the time spent at the workplace is productive work time.

_Source: https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/_


In this project the variable will be the amount of hours spent at the workplace as it is usually the measurement taken into account by most of the traditional companies.

**Salary**

Salary or wages has been seen as one of the major components to incentivise employees performance, but is it really a main factor? What would be its data distribution? 

Regarding the questions above, should the data set simulate data on employees in similar positions but different companies to get the most of this project?

https://www.econjournals.com/index.php/ijefi/article/download/1403/pdf

**Motivation**

What is motivation?

Motivation is the word derived from the word ’motive’ which means needs, desires, wants or drives within the individuals. It implies Internal and external factors that stimulate desire and energy in people to be continually interested and committed to a job, role or subject, or to make an effort to attain a goal.

Motivation results from the interaction of both conscious and unconscious factors such as the intensity of desire or need, incentive or reward value of the goal, and expectations of the individual and of his or her peers. These factors are the reasons one has for behaving a certain way.

In the work goal context the psychological factors stimulating the people’s behaviour can be -

- Desire for money
- Success
- Recognition
- Job-satisfaction
- Team work, etc


_Source: https://www.managementstudyguide.com/what_is_motivation.htm , http://www.businessdictionary.com/definition/motivation.html_

**Data Set simulation**

The data set simulation will contain values of 1000 employees in a particular month. 

Each parameter will be simulated according to the distibution more suitable for each of them based on experience and existing papers and research.

The parameters taken into account as inputs are:
- Time/hours in the workplace
- Employee Motivation
- Salary
- Initial level of studies

The output is ROI, Return of Investment. 
For this project we will take a month of work from the employees with different salaries, motivation, level of studies, hours at work and we will compare this variables with the benefit that the company received from that month. The ROI will be a fixed value as the income received because of this feature is a fixed figure. 

For this simulation the value obtained with this simulated feature will be 10.000.000.

**_Hours at work data set Simulation_**

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Mean Hours worked in Ireland 2017, 
#Source: The Organisation for Economic Co-operation and Development (OECD)
TotalhoursIreland = 1738
#calculation mean hours per day (weekends, bank holidays and Annual leave excluded)
#working days in Ireland 232 
meanhd= 1738/232
meanhd

7.491379310344827

In [4]:
#Working hours data set simulation
hours= pd.DataFrame ({"hours": np.random.normal (7.5, 0.5, 1000)})

In [5]:
hours

        hours
0    7.982920
1    6.919341
2    7.539532
3    7.649697
4    8.002424
5    8.133704
6    7.348413
7    6.968928
8    8.071227
9    6.849667
10   7.771654
11   7.371836
12   7.552099
13   6.849274
14   7.946581
15   7.652432
16   7.702881
17   7.437286
18   7.524138
19   8.447079
20   7.917059
21   7.966020
22   7.765477
23   8.201827
24   7.088431
25   7.537714
26   7.846564
27   6.650198
28   8.571733
29   7.213334
..        ...
970  8.039939
971  8.058594
972  7.561161
973  6.959885
974  7.944783
975  8.156822
976  6.548022
977  7.183021
978  7.828202
979  7.437946
980  7.907581
981  7.541904
982  8.062603
983  7.063447
984  7.659590
985  6.972660
986  8.294928
987  7.369155
988  8.745858
989  7.452465
990  7.845105
991  7.585688
992  8.234917
993  8.187504
994  7.962859
995  6.831806
996  7.014344
997  7.543011
998  8.695789
999  7.839614

[1000 rows x 1 columns]

In [6]:
#small test to check that the data set fits the expected
np.mean (hours)

hours    7.514692
dtype: float64

The test gives a positive result as the number is very close to the defined mean for the Numpy Random normal function

The working/hours data set simulation has been generated using the normal distribution. We assume for this study that the company has the same working/hours policy for all employees. We assume that the policy is to work 7.5 h per day, as it's the mean of time spent working in Ireland in 2017. 

_Why a normal distribution?_

The distribution will follow a bell curve where most of the values will be close to 7.5. In the Normal or Gaussian distribution, the variables concentrate around a value and there are very few variables from 3 standar deviation.

In this case, most of the employees would be working around 7,5 hours eventhough for this particular day that we are taking for the data some employees would stay a little bit longer at work or a little bit less than 7.5h.

The mean for this random normal distribution is 7.5h, the standar deviation 0.5 as we assume that the employees follow the company policy and they doesn't vary much the time they spend at work: 30 min is an acceptable deviation.

In [7]:
hours_month= hours * 20
hours_month

          hours
0    159.658392
1    138.386812
2    150.790644
3    152.993934
4    160.048476
5    162.674071
6    146.968254
7    139.378554
8    161.424530
9    136.993341
10   155.433074
11   147.436716
12   151.041978
13   136.985488
14   158.931614
15   153.048648
16   154.057624
17   148.745713
18   150.482758
19   168.941584
20   158.341177
21   159.320400
22   155.309546
23   164.036532
24   141.768620
25   150.754273
26   156.931277
27   133.003951
28   171.434663
29   144.266685
..          ...
970  160.798783
971  161.171876
972  151.223221
973  139.197698
974  158.895665
975  163.136438
976  130.960438
977  143.660418
978  156.564046
979  148.758911
980  158.151614
981  150.838072
982  161.252056
983  141.268938
984  153.191802
985  139.453195
986  165.898567
987  147.383095
988  174.917155
989  149.049293
990  156.902098
991  151.713760
992  164.698349
993  163.750071
994  159.257189
995  136.636122
996  140.286875
997  150.860230
998  173.915774
999  156.792276

[1000 rows x 1 columns]

_**Level of Studies data set simulation**_

![Level of studies](studies.png)

In [8]:
#the distribution of studies level is actually distributed according to percentages
#based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd

undergraduates = 0
bachellors = 1
masters = 2
phd = 3
studies= pd.DataFrame ({"Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12])})

In [9]:
studies

     Studies
0          1
1          1
2          1
3          1
4          0
5          3
6          0
7          3
8          1
9          1
10         0
11         1
12         0
13         3
14         1
15         3
16         1
17         0
18         1
19         1
20         1
21         1
22         1
23         1
24         1
25         1
26         1
27         2
28         1
29         3
..       ...
970        1
971        2
972        1
973        1
974        1
975        0
976        2
977        1
978        1
979        2
980        1
981        1
982        2
983        1
984        2
985        1
986        1
987        0
988        0
989        1
990        1
991        1
992        1
993        1
994        1
995        1
996        1
997        2
998        1
999        1

[1000 rows x 1 columns]

In [10]:
#small test on the data
np.mean (studies)

Studies    1.266
dtype: float64

The test gives a positive result as the number is around 1, the parameter with more probability to appear defined in the np.random.choice funtcion.

We assume that our company is an online company as Airbnb that higly relies on technology to opperate their business.

The np.random.choice funtcion is used to generate a non-uniform random sample.

Why np.random.choice?
The function used to generate this random distribution is np.random.choice as we need to generate a random list that fits in the percentages above: based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd. In order to do that np.random.choice provides the ability to set the percentages of the different variables to occur.

Thos figures are based on the investigation, of the real numbers of Airbnb that we consider acceptable for this project as an online company that offers services to final users.

**_Motivation simulation_**

In [11]:
#the motivation of the employees in a company would be totally specific to that company
#here the parameters for this company

No_motivated = 1
Somehow_motivated = 2
Motivated = 3
Very_Motivated = 4
Extremely_Motivated = 5

#as the case will be specific to the company we will calculate a totally random distribution
#Assuming that each value has the same probability of being choosen
#Use randint to generate random integers from low (inclusive) to high (exclusive)
#following the uniform distribution
motivation= pd.DataFrame ({"Motivation": np.random.randint(1,6, size=1000)})

In [12]:
motivation

     Motivation
0             5
1             4
2             3
3             4
4             2
5             1
6             4
7             1
8             1
9             4
10            3
11            4
12            1
13            2
14            2
15            3
16            5
17            2
18            1
19            2
20            1
21            4
22            3
23            4
24            2
25            4
26            4
27            1
28            1
29            2
..          ...
970           5
971           1
972           3
973           1
974           2
975           3
976           3
977           5
978           4
979           2
980           4
981           4
982           4
983           5
984           2
985           2
986           4
987           2
988           4
989           3
990           5
991           5
992           4
993           2
994           5
995           2
996           4
997           1
998           4
999           3

[1000 rows x 1 columns]

In [13]:
#small test on the data
np.mean (motivation)

Motivation    3.016
dtype: float64

The test is sucessful as, using np.random.randint we get random integers from the “discrete uniform” distribution all the numbers have approximately the same possibility of appearing. Te number in the middle of this set of motivation numbers is 3, so if the mean approaches this value the data set performs correctly.


_Why np.random.randint?_
np.random.randint allows to define the interval, setting low and high, needed in this case to set the low to 1 and the high to 5. As the high is not included in np.random.randint, the high in this case is set to 6, so the numbers into consideration are 1 to 5.

The uniform distribution has been chosen in this case and we don't have refence data we assume that any value has the same possibity of apprearing.

**_Salary Simulation_**

Taking as reference: https://www.indeed.com/cmp/Airbnb/salaries

In [14]:
#Mean of the salaries per employee per year
salaries = [157357, 138554, 172386, 164060, 176814, 133565, 138554, 139526, 116099, 122039, 196315]
SumSalaries = sum(salaries)
Meansalaries = SumSalaries/11
Meansalaries

150479.0

In [15]:
#standard deviation
# analyse from the mean what is the deviation to the higher value
#higher value (high standar deviation hsd)
a = 196315
hsd= a - Meansalaries
hsd

45836.0

In [16]:
#standard deviation
# analyse from the mean what is the deviation to the lowest value
#lowest value, lower standar deviation (losd)
b = 116099
losd= Meansalaries -b
losd

34380.0

In [17]:
#mean standard deviation of the highest and the lowest
sumst=(hsd + losd)
#most of the values will be within 3 standard deviations
meanst= sumst/3
#result in average between the 2 values
meanstsfinal= meanst/2
meanstsfinal

13369.333333333334

In [18]:
#Using the standard normal distribution as is more probable to get a salary around 150479
#This mean wll be used as the mean for the standar normal distribution
salary= pd.DataFrame ({"Salary": np.random.normal (150479, meanstsfinal, 1000)})

In [19]:
salary

            Salary
0    141523.643973
1    164567.581522
2    170029.864212
3    145212.362657
4    174141.690599
5    150208.557314
6    154852.002279
7    153716.216658
8    137641.947808
9    150203.295995
10   114949.409280
11   151280.068004
12   141437.029315
13   137626.329122
14   124158.369841
15   147178.825508
16   154828.625503
17   153558.124689
18   171022.968302
19   147616.726620
20   167238.860203
21   142057.495621
22   148442.713276
23   133744.720737
24   152477.680473
25   158610.412577
26   157392.134759
27   158725.482395
28   144040.525611
29   132775.673333
..             ...
970  145330.782170
971  115180.837350
972  172237.389539
973  145624.390154
974  156681.925272
975  143609.646713
976  154276.129309
977  155236.063075
978  144319.147507
979  171950.108273
980  136214.623343
981  171367.812206
982  148672.877163
983  157405.677506
984  115086.614907
985  154144.079166
986  142938.337761
987  145358.669918
988  147346.573808
989  151672.665856
990  137084.702709
991  154203.211708
992  159388.475818
993  159341.748731
994  131145.738426
995  149476.321977
996  140576.903582
997  125124.306416
998  151098.075481
999  164832.965590

[1000 rows x 1 columns]

In [20]:
#small test on the data
np.mean (salary)

Salary    150684.271838
dtype: float64

The test is correct as the mean for this distribution is 150479 $.

In [21]:
np.max (salary)

Salary    191391.826376
dtype: float64

In [22]:
np.max (salary)
np.min (salary)

Salary    106976.237783
dtype: float64

In terms of the minimum and the maximum in the set, we can accept those figures as acceptable as they are close to the limits we have in the reference set.



*A revision on how to set the standard deviation has been made as in the first attempt the standard deviation was taken just from the higher deviation. There was a rework on the standard deviation now obtained by the mean of the higher and the lower values.

The salary is normaly distributed around the mean, with smaller probability of getting 196315 $ then to get the values around the mean 150479.

_Why standard normal distribution?_ 

As per the data observed most of the salaries vary in a range between 130000 dolars and 170000 dolars so getting the mean of all the salaries will set this intermediate point. The maximum 196315 dolars, or the minimum 116099 dolars are rare expections, so setting the deviation in this range can give an approximate simulation of the salaries in a company.

In [23]:
#year salary divided in 12 months
month_salary= salary/12
month_salary

           Salary
0    11793.636998
1    13713.965127
2    14169.155351
3    12101.030221
4    14511.807550
5    12517.379776
6    12904.333523
7    12809.684721
8    11470.162317
9    12516.941333
10    9579.117440
11   12606.672334
12   11786.419110
13   11468.860760
14   10346.530820
15   12264.902126
16   12902.385459
17   12796.510391
18   14251.914025
19   12301.393885
20   13936.571684
21   11838.124635
22   12370.226106
23   11145.393395
24   12706.473373
25   13217.534381
26   13116.011230
27   13227.123533
28   12003.377134
29   11064.639444
..            ...
970  12110.898514
971   9598.403113
972  14353.115795
973  12135.365846
974  13056.827106
975  11967.470559
976  12856.344109
977  12936.338590
978  12026.595626
979  14329.175689
980  11351.218612
981  14280.651017
982  12389.406430
983  13117.139792
984   9590.551242
985  12845.339931
986  11911.528147
987  12113.222493
988  12278.881151
989  12639.388821
990  11423.725226
991  12850.267642
992  13282.372985
993  13278.479061
994  10928.811536
995  12456.360165
996  11714.741965
997  10427.025535
998  12591.506290
999  13736.080466

[1000 rows x 1 columns]

**Concatenating the simulated data**

In [24]:
#Concatenating the simulated data
dataset = pd.DataFrame({"Hours month":  np.random.normal (7.5, 0.5, 1000)*20 , "Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12]), "Motivation": np.random.randint(1, 6, size=1000), "Salary": np.random.normal(150479, 15278, 1000)/12, "Income": 10000000})

In [25]:
dataset

     Hours month  Studies  Motivation        Salary    Income
0     159.986598        0           5  12643.064557  10000000
1     145.957857        1           5  14131.493112  10000000
2     137.941939        2           5  12974.504643  10000000
3     145.761420        2           4  10554.982646  10000000
4     151.432871        1           4  10871.937353  10000000
5     171.160583        1           4  14325.146279  10000000
6     169.586573        1           5  10937.873917  10000000
7     155.510970        1           3  12864.631647  10000000
8     146.055403        1           2  10114.499286  10000000
9     139.644434        2           1  11735.691633  10000000
10    141.501913        2           2  10440.994972  10000000
11    159.552556        1           5  13329.359743  10000000
12    154.235967        2           3  13846.841256  10000000
13    150.229680        1           3  11745.112021  10000000
14    137.018288        3           5  13828.803740  10000000
15    137.450356        2           1  12412.088236  10000000
16    147.265466        1           4  12496.818225  10000000
17    145.527451        2           1  11707.675896  10000000
18    144.689998        1           5  12696.947065  10000000
19    160.539040        1           3  11780.886624  10000000
20    170.940882        1           3  11829.105199  10000000
21    130.726605        1           3  12914.371026  10000000
22    154.593800        1           4  12781.153833  10000000
23    160.435845        1           2  14021.519129  10000000
24    150.045124        0           5  13470.165443  10000000
25    154.227105        1           1  10758.806203  10000000
26    159.764846        0           5  13470.079057  10000000
27    146.179450        0           1  11902.126384  10000000
28    152.618486        1           2  11771.991247  10000000
29    147.231858        1           1  12373.206934  10000000
..           ...      ...         ...           ...       ...
970   136.456249        1           2  13097.355443  10000000
971   133.864068        1           5  11787.963005  10000000
972   144.529423        2           4  11486.119774  10000000
973   132.477546        3           1  11533.918907  10000000
974   150.963363        1           4  13229.317937  10000000
975   139.711553        0           5   9584.244703  10000000
976   152.761344        2           2  13738.881208  10000000
977   162.994375        2           1  14396.603419  10000000
978   152.461884        1           4  11684.296451  10000000
979   144.935796        3           3  12133.420680  10000000
980   150.026191        0           2  12917.681247  10000000
981   136.864397        1           5  13989.597224  10000000
982   146.500397        3           5  12794.415769  10000000
983   137.301337        1           2  10781.303048  10000000
984   151.066382        1           3  12820.945170  10000000
985   151.215939        2           2  12847.128762  10000000
986   132.106838        1           3  11148.113861  10000000
987   153.854332        3           1  11505.159727  10000000
988   144.030198        2           2  12256.847567  10000000
989   142.414172        1           3  11452.262674  10000000
990   145.611839        0           5  13099.292409  10000000
991   155.556474        2           5  14022.988914  10000000
992   144.359299        1           5  11574.002818  10000000
993   165.400567        3           4  13924.680061  10000000
994   151.876692        1           1  12973.297215  10000000
995   118.101948        1           5  14175.576646  10000000
996   155.788090        1           5  13289.469313  10000000
997   144.679600        3           1  11555.566237  10000000
998   137.027506        3           4  11749.506838  10000000
999   159.508687        3           5  11500.891671  10000000

[1000 rows x 5 columns]

**Syntesizing the data set**

In [27]:
#analysis of any data set 
dataset.describe()

       Hours month      Studies   Motivation        Salary      Income
count  1000.000000  1000.000000  1000.000000   1000.000000      1000.0
mean    149.947444     1.314000     2.978000  12514.017796  10000000.0
std      10.288562     0.856819     1.421808   1281.964422         0.0
min     118.101948     0.000000     1.000000   8448.994792  10000000.0
25%     143.100923     1.000000     2.000000  11632.380165  10000000.0
50%     149.849822     1.000000     3.000000  12478.443957  10000000.0
75%     157.295320     2.000000     4.000000  13397.866720  10000000.0
max     181.330471     3.000000     5.000000  18160.069543  10000000.0