## Employees performance and delivered value

![Employee performance](performance.jpg)

#### Description of the topic

The aim of this project is to show the variables that can affect the employee performance in an IT company and the value delivered. 

The data sets will be simulated based as much as possible in the real world behaviour and the variables will be studied to determine the ones that could cause more impact and to see tendences when linking them.

Some variables that could infuence employee performance:

- Time/hours in the workplace
- Employee Motivation
- Training /coferences the employee attends
- Salary
- Length of employment
- Experience in the position
- Employee empowerment
- Initial level of studies
- Meetings the employee has in a day
- Number of interruptions in a day
- Emails received per day


The performance can be measured based on different approaches:

- Delivered value **
- Velocity (measured in story points*)
- Incidents in production
- Defects per story point* 
- Customer satisfaction
- Time to market
- ROI (Return On Investment)
- Completion of individual goals


From the variables above, depending on the initial research, the most significant will be taken for study.

In this first approach the timeframe of the mesurements will be a year.

**Investigation of existing studies**

- _Linking Belgian employee performancemanagement system characteristicswith performance management systemeffectiveness: exploring the mediatingrole of fairness_

https://www.researchgate.net/publication/46469879_Linking_Belgian_employee_performance_management_system_characteristics_with_performance_management_system_effectiveness_Exploring_the_mediating_role_of_fairness 

     Summary: The paper studies the effectiveness of Performance Management System, the variables that influence it and the outcomes of it. 
The main conclusion is that the way of implementing the system has a big influenece in the outcome.

- _Data: Hours worked in 2017_
    https://data.oecd.org/emp/hours-worked.htm

    Summary: Data per country: mean hours worked in 2017

- _The Association of the 24 Hour Distribution of Time Spent in Physical Activity, Work, and Sleep with Emotional Exhaustion._

        Summary: Interesting approach on how to pressent the results of the study with Ternary plot.

- _How do you measure value?_

    https://www.thoughtworks.com/insights/blog/how-do-you-measure-value

    Summary: Key factors and graphical representations on how to measure value in a company.

- _Infographic: You waste a lot of time at work_

    https://www.atlassian.com/time-wasting-at-work-infographic

    Summary: Factors that can reduce employee performance.

- _In an 8-Hour Day, the Average Worker Is Productive for This Many Hours_

    https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/

    Summary: Article about how more hours at work could not translate into more productivity.

- _Wages and Employees Performance: The Quality of Work Life as Moderator._
International Journal of Economics and Financial Issues, 2015, 5(Special Issue) 349-353.

    Summary: Research about how the effect of wages on employees performance are moderated by the quality of work life. It takes into consideration as well promotion policies, democratic supervision, employee involvement and safe working conditions, perception that they want to feel safe, satisfied and get a chance to be able to grow.

    It presents the descriptive statistics about the data in a table.


- _Impact of Motivation on Employee Performances: A Case Study of Karmasangsthan Bank Limited, Bangladesh_

    https://www.omicsonline.org/open-access/impact-of-motivation-on-employee-performances-a-case-study-of-karmasangsthan-bank-limited-bangladesh-.php?aid=86681

        Summary: In this research salary is described as an extrinsic motivation along with Monetary Incentives and Compensation Package.

![Salary impact](salary.png)

        The representation above is extremely valuable for this project as it can be seen that the relationship between salary and motivation will be similar to a exponential distribution.

- _Data Distributions_
http://www.ucd.ie/ecomodel/Resources/Sheet4_data_distributions_WebVersion.html

    Summary: Brief of data distributions.
    
- _Education you need to work at companies like Facebook, Google and Amazon_
https://www.cnbc.com/2017/07/26/how-long-youll-need-to-go-to-school-to-work-at-top-tech-companies.html

    Summary: Level of studies distribution in top tech companies.

**What is understood as value?**

Based on the context of an IT company, value will be presented as:

ROI: Return on investment
Return on investment (ROI) measures the gain or loss generated on an investment relative to the amount of money invested. ROI is usually expressed as a percentage and is typically used for personal financial decisions, to compare a company's profitability or to compare the efficiency of different investments.

The return on investment formula is:

ROI = (Net Profit / Cost of Investment) x 100


_Source: https://www.thoughtworks.com/insights/blog/how-do-you-measure-value_ and https://investinganswers.com/financial-dictionary/technical-analysis/return-investment-roi-1100

From the initial research value is going to be one of the main variable to analyse, eventhough at this stage, the way of measuring it or the distribution that this value can have is quite uncertain.

**Time/hours in the workplace**

From the initial research we could differentiate between time spent at the workplace and productive working hours. From a recent research just 2 hours and 53 minutes of the time spent at the workplace is productive work time.

_Source: https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/_


In this project the variable will be the amount of hours spent at the workplace as it is usually the measurement taken into account by most of the traditional companies.

**Salary**

Salary or wages has been seen as one of the major components to incentivise employees performance, but is it really a main factor? What would be its data distribution? 

Regarding the questions above, should the data set simulate data on employees in similar positions but different companies to get the most of this project?

https://www.econjournals.com/index.php/ijefi/article/download/1403/pdf

**Motivation**

What is motivation?

Motivation is the word derived from the word ’motive’ which means needs, desires, wants or drives within the individuals. It implies Internal and external factors that stimulate desire and energy in people to be continually interested and committed to a job, role or subject, or to make an effort to attain a goal.

Motivation results from the interaction of both conscious and unconscious factors such as the intensity of desire or need, incentive or reward value of the goal, and expectations of the individual and of his or her peers. These factors are the reasons one has for behaving a certain way.

In the work goal context the psychological factors stimulating the people’s behaviour can be -

- Desire for money
- Success
- Recognition
- Job-satisfaction
- Team work, etc


_Source: https://www.managementstudyguide.com/what_is_motivation.htm , http://www.businessdictionary.com/definition/motivation.html_

**Data Set simulation**

The data set simulation will contain values of 1000 employees in a particular day. 

Each parameter will be simulated according to the distibution more suitable for each of them based on experience and existing papers and research.

The parameters taken into account as imputs are:
- Time/hours in the workplace
- Employee Motivation
- Salary
- Initial level of studies

**_Hours at work data set Simulation_**

In [3]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [4]:
#Mean Hours worked in Ireland 2017, 
#Source: The Organisation for Economic Co-operation and Development (OECD)
TotalhoursIreland = 1738
#calculation mean hours per day (weekends, bank holidays and Annual leave excluded)
#working days in Ireland 232 
meanhd= 1738/232
meanhd

7.491379310344827

In [7]:
#Working hours data set simulation
hours= pd.DataFrame ({"hours": np.random.normal (7.5, 0.5, 1000)})

In [8]:
hours

        hours
0    7.908285
1    7.157165
2    7.361308
3    8.914765
4    7.859832
5    7.161249
6    8.220450
7    6.835305
8    7.963980
9    8.320281
10   6.985091
11   8.227424
12   7.778164
13   8.179611
14   8.237293
15   6.636181
16   8.239615
17   7.329001
18   7.842252
19   7.663505
20   7.371708
21   7.576340
22   7.837455
23   7.901783
24   8.196473
25   7.093614
26   7.078174
27   7.784281
28   7.434380
29   8.037923
..        ...
970  7.212625
971  6.408961
972  7.718210
973  7.644076
974  6.907377
975  7.623626
976  7.990568
977  7.826603
978  7.137630
979  7.555351
980  7.467295
981  6.537187
982  7.521383
983  6.642052
984  7.150603
985  7.079108
986  7.074802
987  7.845233
988  7.384866
989  7.018927
990  7.714225
991  7.556177
992  6.802999
993  7.427133
994  7.895628
995  7.784172
996  7.395648
997  6.928866
998  7.741123
999  8.288228

[1000 rows x 1 columns]

In [11]:
#small test to check that the data set fits the expected
np.mean (hours)

hours    7.485727
dtype: float64

The test gives a positive result as the number is very close to the defined mean for the Numpy Random normal function

The working/hours data set simulation has been generated using the normal distribution. We assume for this study that the company has the same working/hours policy for all employees. We assume that the policy is to work 7.5 h per day, as it's the mean of time spent working in Ireland in 2017. 

_Why a normal distribution?_

The distribution will follow a bell curve where most of the values will be close to 7.5. In the Normal or Gaussian distribution, the variables concentrate around a value and there are very few variables from 3 standar deviation.

In this case, most of the employees would be working around 7,5 hours eventhough for this particular day that we are taking for the data some employees would stay a little bit longer at work or a little bit less than 7.5h.

The mean for this random normal distribution is 7.5h, the standar deviation 0.5 as we assume that the employees follow the company policy and they doesn't vary much the time they spend at work: 30 min is an acceptable deviation.

_**Level of Studies data set simulation**_

![Level of studies](studies.png)

In [21]:
#the distribution of studies level is actually distributed according to percentages
#based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd

undergraduates = 0
bachellors = 1
masters = 2
phd = 3
studies= pd.DataFrame (np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12]))

In [10]:
studies

    0
0   2
1   1
2   1
3   1
4   3
5   1
6   3
7   0
8   1
9   2
10  1
11  1
12  0
13  1
14  3
15  1
16  1
17  1
18  0
19  3
20  0
21  3
22  3
23  1
24  0
25  0
26  1
27  1
28  2
29  1
.. ..
70  1
71  1
72  0
73  1
74  1
75  1
76  1
77  2
78  2
79  1
80  2
81  1
82  3
83  1
84  2
85  0
86  2
87  1
88  1
89  1
90  1
91  2
92  1
93  0
94  2
95  0
96  1
97  0
98  1
99  1

[100 rows x 1 columns]

In [ ]:
#small test on the data
np.mean (studies)

The test gives a positive result as the number is around 1, the parameter with more probability to appear defined in the np.random.choice funtcion.

**_Motivation simulation_**

In [5]:
#the motivation of the employees in a company would be totally specific to that company
#here the parameters for this company

No_motivated = 1
Somehow_motivated = 2
Motivated = 3
Very_Motivated = 4
Extremely_Motivated = 5

#as the case will be specific to the company we will calculate a totally random distribution
#Assuming that each value has the same probability of being choosen
#Use randint to generate random integers from low (inclusive) to high (exclusive)
#following the uniform distribution
motivation= pd.DataFrame (np.random.randint(1,6, size=1000))

In [6]:
motivation

     0
0    1
1    3
2    2
3    3
4    5
5    2
6    2
7    4
8    4
9    4
10   5
11   2
12   2
13   2
14   2
15   1
16   3
17   1
18   4
19   1
20   5
21   2
22   5
23   4
24   4
25   5
26   2
27   4
28   3
29   3
..  ..
970  2
971  5
972  5
973  3
974  2
975  2
976  2
977  2
978  4
979  3
980  1
981  1
982  5
983  2
984  1
985  2
986  5
987  4
988  5
989  3
990  1
991  3
992  3
993  1
994  5
995  5
996  5
997  1
998  1
999  2

[1000 rows x 1 columns]

In [7]:
#small test on the data
np.mean (motivation)

0    2.984
dtype: float64