## Employees performance and delivered value

![Employee performance](performance.jpg)

#### Description of the topic

The aim of this project is to show the variables that can affect the employee performance in an IT company and the value delivered. 

The data sets will be simulated based as much as possible in the real world behaviour and the variables will be studied to determine the ones that could cause more impact and to see tendences when linking them.

Some variables that could infuence employee performance:

- Time/hours in the workplace
- Employee Motivation
- Training /coferences the employee attends
- Salary
- Length of employment
- Experience in the position
- Employee empowerment
- Initial level of studies
- Meetings the employee has in a day
- Number of interruptions in a day
- Emails received per day


The performance can be measured based on different approaches:

- Delivered value **
- Velocity (measured in story points*)
- Incidents in production
- Defects per story point* 
- Customer satisfaction
- Time to market
- ROI (Return On Investment)
- Completion of individual goals


From the variables above, depending on the initial research, the most significant will be taken for study.

In this first approach the timeframe of the mesurements will be a year.

**Investigation of existing studies**

- _Linking Belgian employee performancemanagement system characteristicswith performance management systemeffectiveness: exploring the mediatingrole of fairness_

https://www.researchgate.net/publication/46469879_Linking_Belgian_employee_performance_management_system_characteristics_with_performance_management_system_effectiveness_Exploring_the_mediating_role_of_fairness 

     Summary: The paper studies the effectiveness of Performance Management System, the variables that influence it and the outcomes of it. 
The main conclusion is that the way of implementing the system has a big influenece in the outcome.

- _Data: Hours worked in 2017_
    https://data.oecd.org/emp/hours-worked.htm

    Summary: Data per country: mean hours worked in 2017

- _The Association of the 24 Hour Distribution of Time Spent in Physical Activity, Work, and Sleep with Emotional Exhaustion._

        Summary: Interesting approach on how to pressent the results of the study with Ternary plot.

- _How do you measure value?_

    https://www.thoughtworks.com/insights/blog/how-do-you-measure-value

    Summary: Key factors and graphical representations on how to measure value in a company.

- _Infographic: You waste a lot of time at work_

    https://www.atlassian.com/time-wasting-at-work-infographic

    Summary: Factors that can reduce employee performance.

- _In an 8-Hour Day, the Average Worker Is Productive for This Many Hours_

    https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/

    Summary: Article about how more hours at work could not translate into more productivity.

- _Wages and Employees Performance: The Quality of Work Life as Moderator._
International Journal of Economics and Financial Issues, 2015, 5(Special Issue) 349-353.

    Summary: Research about how the effect of wages on employees performance are moderated by the quality of work life. It takes into consideration as well promotion policies, democratic supervision, employee involvement and safe working conditions, perception that they want to feel safe, satisfied and get a chance to be able to grow.

    It presents the descriptive statistics about the data in a table.


- _Impact of Motivation on Employee Performances: A Case Study of Karmasangsthan Bank Limited, Bangladesh_

    https://www.omicsonline.org/open-access/impact-of-motivation-on-employee-performances-a-case-study-of-karmasangsthan-bank-limited-bangladesh-.php?aid=86681

        Summary: In this research salary is described as an extrinsic motivation along with Monetary Incentives and Compensation Package.

![Salary impact](salary.png)

        The representation above is extremely valuable for this project as it can be seen that the relationship between salary and motivation will be similar to a exponential distribution.

- _Data Distributions_
http://www.ucd.ie/ecomodel/Resources/Sheet4_data_distributions_WebVersion.html

    Summary: Brief of data distributions.
    
- _Education you need to work at companies like Facebook, Google and Amazon_
https://www.cnbc.com/2017/07/26/how-long-youll-need-to-go-to-school-to-work-at-top-tech-companies.html

    Summary: Level of studies distribution in top tech companies.

**What is understood as value?**

Based on the context of an IT company, value will be presented as:

ROI: Return on investment
Return on investment (ROI) measures the gain or loss generated on an investment relative to the amount of money invested. ROI is usually expressed as a percentage and is typically used for personal financial decisions, to compare a company's profitability or to compare the efficiency of different investments.

The return on investment formula is:

ROI = (Net Profit / Cost of Investment) x 100


_Source: https://www.thoughtworks.com/insights/blog/how-do-you-measure-value_ and https://investinganswers.com/financial-dictionary/technical-analysis/return-investment-roi-1100

From the initial research value is going to be one of the main variable to analyse, eventhough at this stage, the way of measuring it or the distribution that this value can have is quite uncertain.

**Time/hours in the workplace**

From the initial research we could differentiate between time spent at the workplace and productive working hours. From a recent research just 2 hours and 53 minutes of the time spent at the workplace is productive work time.

_Source: https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/_


In this project the variable will be the amount of hours spent at the workplace as it is usually the measurement taken into account by most of the traditional companies.

**Salary**

Salary or wages has been seen as one of the major components to incentivise employees performance, but is it really a main factor? What would be its data distribution? 

Regarding the questions above, should the data set simulate data on employees in similar positions but different companies to get the most of this project?

https://www.econjournals.com/index.php/ijefi/article/download/1403/pdf

**Motivation**

What is motivation?

Motivation is the word derived from the word ’motive’ which means needs, desires, wants or drives within the individuals. It implies Internal and external factors that stimulate desire and energy in people to be continually interested and committed to a job, role or subject, or to make an effort to attain a goal.

Motivation results from the interaction of both conscious and unconscious factors such as the intensity of desire or need, incentive or reward value of the goal, and expectations of the individual and of his or her peers. These factors are the reasons one has for behaving a certain way.

In the work goal context the psychological factors stimulating the people’s behaviour can be -

- Desire for money
- Success
- Recognition
- Job-satisfaction
- Team work, etc


_Source: https://www.managementstudyguide.com/what_is_motivation.htm , http://www.businessdictionary.com/definition/motivation.html_

**Data Set simulation**

The data set simulation will contain values of 1000 employees in a particular month. 

Each parameter will be simulated according to the distibution more suitable for each of them based on experience and existing papers and research.

The parameters taken into account as inputs are:
- Time/hours in the workplace
- Employee Motivation
- Salary
- Initial level of studies

The output is ROI, Return of Investment. 
For this project we will take a month of work from the employees with different salaries, motivation, level of studies, hours at work and we will compare this variables with the benefit that the company received from that month. The ROI will be a fixed value as the income received because of this feature is a fixed figure. 

For this simulation the value obtained with this simulated feature will be 10.000.000.

**_Hours at work data set Simulation_**

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Mean Hours worked in Ireland 2017, 
#Source: The Organisation for Economic Co-operation and Development (OECD)
TotalhoursIreland = 1738
#calculation mean hours per day (weekends, bank holidays and Annual leave excluded)
#working days in Ireland 232 
meanhd= 1738/232
meanhd

7.491379310344827

In [4]:
#Working hours data set simulation
hours= pd.DataFrame ({"hours": np.random.normal (7.5, 0.5, 1000)})

In [5]:
hours

        hours
0    7.713135
1    7.272608
2    7.515561
3    7.243567
4    6.968159
5    7.467879
6    7.323515
7    7.679590
8    7.603529
9    8.361237
10   7.586276
11   8.021095
12   7.393990
13   7.108253
14   8.247452
15   7.139850
16   7.111785
17   7.324589
18   7.489651
19   8.306681
20   7.733055
21   8.063746
22   7.949316
23   7.181512
24   8.133216
25   7.949363
26   7.013637
27   8.087840
28   6.252523
29   7.244259
..        ...
970  6.819876
971  7.481891
972  7.727225
973  7.349057
974  7.846062
975  7.245961
976  8.413964
977  6.436202
978  7.695352
979  7.980225
980  7.123237
981  7.603813
982  7.575499
983  7.621654
984  7.904455
985  7.545841
986  7.495821
987  7.544729
988  7.567644
989  7.147913
990  7.423950
991  7.585120
992  7.562433
993  7.805280
994  7.969756
995  7.416474
996  6.729923
997  7.315591
998  7.622273
999  7.039679

[1000 rows x 1 columns]

In [6]:
#small test to check that the data set fits the expected
np.mean (hours)

hours    7.499254
dtype: float64

The test gives a positive result as the number is very close to the defined mean for the Numpy Random normal function

The working/hours data set simulation has been generated using the normal distribution. We assume for this study that the company has the same working/hours policy for all employees. We assume that the policy is to work 7.5 h per day, as it's the mean of time spent working in Ireland in 2017. 

_Why a normal distribution?_

The distribution will follow a bell curve where most of the values will be close to 7.5. In the Normal or Gaussian distribution, the variables concentrate around a value and there are very few variables from 3 standar deviation.

In this case, most of the employees would be working around 7,5 hours eventhough for this particular day that we are taking for the data some employees would stay a little bit longer at work or a little bit less than 7.5h.

The mean for this random normal distribution is 7.5h, the standar deviation 0.5 as we assume that the employees follow the company policy and they doesn't vary much the time they spend at work: 30 min is an acceptable deviation.

In [33]:
hours_month= hours * 20
hours_month

          hours
0    154.262697
1    145.452170
2    150.311218
3    144.871334
4    139.363177
5    149.357573
6    146.470305
7    153.591803
8    152.070586
9    167.224736
10   151.725517
11   160.421906
12   147.879794
13   142.165055
14   164.949049
15   142.797006
16   142.235701
17   146.491776
18   149.793025
19   166.133629
20   154.661093
21   161.274916
22   158.986312
23   143.630241
24   162.664317
25   158.987261
26   140.272740
27   161.756792
28   125.050462
29   144.885188
..          ...
970  136.397513
971  149.637820
972  154.544500
973  146.981139
974  156.921231
975  144.919225
976  168.279279
977  128.724041
978  153.907041
979  159.604505
980  142.464741
981  152.076265
982  151.509973
983  152.433079
984  158.089103
985  150.916822
986  149.916422
987  150.894573
988  151.352880
989  142.958257
990  148.479006
991  151.702402
992  151.248653
993  156.105599
994  159.395127
995  148.329487
996  134.598455
997  146.311824
998  152.445450
999  140.793575

[1000 rows x 1 columns]

_**Level of Studies data set simulation**_

![Level of studies](studies.png)

In [7]:
#the distribution of studies level is actually distributed according to percentages
#based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd

undergraduates = 0
bachellors = 1
masters = 2
phd = 3
studies= pd.DataFrame ({"Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12])})

In [8]:
studies

     Studies
0          3
1          0
2          0
3          1
4          2
5          1
6          1
7          0
8          3
9          0
10         0
11         2
12         1
13         0
14         0
15         1
16         0
17         1
18         2
19         1
20         1
21         0
22         2
23         1
24         2
25         1
26         1
27         1
28         1
29         1
..       ...
970        1
971        1
972        0
973        1
974        1
975        1
976        1
977        1
978        1
979        1
980        1
981        1
982        1
983        1
984        1
985        2
986        2
987        3
988        2
989        3
990        1
991        1
992        1
993        2
994        0
995        2
996        1
997        1
998        3
999        1

[1000 rows x 1 columns]

In [9]:
#small test on the data
np.mean (studies)

Studies    1.261
dtype: float64

The test gives a positive result as the number is around 1, the parameter with more probability to appear defined in the np.random.choice funtcion.

We assume that our company is an online company as Airbnb that higly relies on technology to opperate their business.

The np.random.choice funtcion is used to generate a non-uniform random sample.

Why np.random.choice?
The function used to generate this random distribution is np.random.choice as we need to generate a random list that fits in the percentages above: based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd. In order to do that np.random.choice provides the ability to set the percentages of the different variables to occur.

Thos figures are based on the investigation, of the real numbers of Airbnb that we consider acceptable for this project as an online company that offers services to final users.

**_Motivation simulation_**

In [10]:
#the motivation of the employees in a company would be totally specific to that company
#here the parameters for this company

No_motivated = 1
Somehow_motivated = 2
Motivated = 3
Very_Motivated = 4
Extremely_Motivated = 5

#as the case will be specific to the company we will calculate a totally random distribution
#Assuming that each value has the same probability of being choosen
#Use randint to generate random integers from low (inclusive) to high (exclusive)
#following the uniform distribution
motivation= pd.DataFrame ({"Motivation": np.random.randint(1,6, size=1000)})

In [11]:
motivation

     Motivation
0             1
1             3
2             3
3             4
4             4
5             1
6             2
7             2
8             3
9             5
10            3
11            2
12            5
13            1
14            4
15            1
16            5
17            3
18            4
19            5
20            2
21            2
22            2
23            3
24            2
25            1
26            4
27            4
28            5
29            4
..          ...
970           5
971           3
972           4
973           5
974           2
975           5
976           1
977           2
978           2
979           3
980           4
981           2
982           3
983           3
984           4
985           3
986           5
987           4
988           3
989           1
990           3
991           2
992           1
993           5
994           4
995           4
996           5
997           2
998           5
999           1

[1000 rows x 1 columns]

In [12]:
#small test on the data
np.mean (motivation)

Motivation    3.024
dtype: float64

The test is sucessful as, using np.random.randint we get random integers from the “discrete uniform” distribution all the numbers have approximately the same possibility of appearing. Te number in the middle of this set of motivation numbers is 3, so if the mean approaches this value the data set performs correctly.


_Why np.random.randint?_
np.random.randint allows to define the interval, setting low and high, needed in this case to set the low to 1 and the high to 5. As the high is not included in np.random.randint, the high in this case is set to 6, so the numbers into consideration are 1 to 5.

The uniform distribution has been chosen in this case and we don't have refence data we assume that any value has the same possibity of apprearing.

**_Salary Simulation_**

Taking as reference: https://www.indeed.com/cmp/Airbnb/salaries

In [13]:
#Mean of the salaries per employee per year
salaries = [157357, 138554, 172386, 164060, 176814, 133565, 138554, 139526, 116099, 122039, 196315]
SumSalaries = sum(salaries)
Meansalaries = SumSalaries/11
Meansalaries

150479.0

In [14]:
#standard deviation
# analyse from the mean what is the deviation to the higher value
#higher value (high standar deviation hsd)
a = 196315
hsd= a - Meansalaries
hsd

45836.0

In [61]:
#standard deviation
# analyse from the mean what is the deviation to the lowest value
#lowest value, lower standar deviation (losd)
b = 116099
losd= Meansalaries -b
losd

34380.0

In [72]:
#mean standard deviation of the highest and the lowest
sumst=(hsd + losd)
#most of the values will be within 3 standard deviations
meanst= sumst/3
#result in average between the 2 values
meanstsfinal= meanst/2
meanstsfinal

13369.333333333334

In [15]:
#This is the highest diference, and most of the values will be within 3 standard deviations
std= hsd1/3

In [16]:
std

15278.666666666666

In [80]:
#Using the standard normal distribution as is more probable to get a salary around 150479
#This mean wll be used as the mean for the standar normal distribution
salary= pd.DataFrame ({"Salary": np.random.normal (150479, meanstsfinal, 1000)})

In [81]:
salary

            Salary
0    153181.020875
1    162145.244057
2    151040.635374
3    157336.452999
4    141958.651717
5    161048.468099
6    140558.173839
7    129388.770566
8    154362.309291
9    137068.360816
10   156279.941434
11   158601.374425
12   143023.577240
13   161510.885996
14   137753.244378
15   153203.709265
16   167206.721797
17   158011.853701
18   143526.167379
19   150374.658665
20   138144.692817
21   134953.317879
22   149262.318261
23   176344.968156
24   152700.308414
25   162219.188650
26   147880.218267
27   144760.323632
28   155932.123216
29   152474.445986
..             ...
970  150166.245132
971  147438.648911
972  122025.471787
973  149199.511084
974  144970.359548
975  130268.768738
976  135076.924344
977  157535.404582
978  164687.971696
979  165647.592845
980  147601.762762
981  155936.041370
982  153494.656072
983  146845.649658
984  157177.996129
985  163466.153534
986  152493.495243
987  172621.387824
988  160392.001523
989  127745.859855
990  140257.224240
991  133878.672443
992  148379.547335
993  146392.825599
994  167276.287315
995  154585.672176
996  165102.049970
997  138928.365387
998  136397.354024
999  170623.746160

[1000 rows x 1 columns]

In [82]:
#small test on the data
np.mean (salary)

Salary    149759.161432
dtype: float64

The test is correct as the mean for this distribution is 150479 $.

In [83]:
np.max (salary)

Salary    198273.10063
dtype: float64

In [84]:
np.max (salary)
np.min (salary)

Salary    104532.733744
dtype: float64

In terms of the minimum and the maximum in the set, we can accept those figures as acceptable as they are close to the limits we have in the reference set.



*A revision on how to set the standard deviation has been made as in the first attempt the standard deviation was taken just from the higher deviation. There was a rework on the standard deviation now obtained by the mean of the higher and the lower values.

The salary is normaly distributed around the mean, with smaller probability of getting 196315 $ then to get the values around the mean 150479.

_Why standard normal distribution?_ 

As per the data observed most of the salaries vary in a range between 130000 dolars and 170000 dolars so getting the mean of all the salaries will set this intermediate point. The maximum 196315 dolars, or the minimum 116099 dolars are rare expections, so setting the deviation in this range can give an approximate simulation of the salaries in a company.

In [85]:
#year salary divided in 12 months
month_salary= salary/12
month_salary

           Salary
0    12765.085073
1    13512.103671
2    12586.719615
3    13111.371083
4    11829.887643
5    13420.705675
6    11713.181153
7    10782.397547
8    12863.525774
9    11422.363401
10   13023.328453
11   13216.781202
12   11918.631437
13   13459.240500
14   11479.437032
15   12766.975772
16   13933.893483
17   13167.654475
18   11960.513948
19   12531.221555
20   11512.057735
21   11246.109823
22   12438.526522
23   14695.414013
24   12725.025701
25   13518.265721
26   12323.351522
27   12063.360303
28   12994.343601
29   12706.203832
..            ...
970  12513.853761
971  12286.554076
972  10168.789316
973  12433.292590
974  12080.863296
975  10855.730728
976  11256.410362
977  13127.950382
978  13723.997641
979  13803.966070
980  12300.146897
981  12994.670114
982  12791.221339
983  12237.137472
984  13098.166344
985  13622.179461
986  12707.791270
987  14385.115652
988  13366.000127
989  10645.488321
990  11688.102020
991  11156.556037
992  12364.962278
993  12199.402133
994  13939.690610
995  12882.139348
996  13758.504164
997  11577.363782
998  11366.446169
999  14218.645513

[1000 rows x 1 columns]

**Concatenating the simulated data**

In [42]:
#Concatenating the simulated data
dataset = pd.DataFrame({"Hours month":  np.random.normal (7.5, 0.5, 1000)*20 , "Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12]), "Motivation": np.random.randint(1, 6, size=1000), "Salary": np.random.normal(150479, 15278, 1000)/12, "Income": 10000000})

In [43]:
dataset

     Hours month  Studies  Motivation        Salary    Income
0     143.396355        1           5  12801.276778  10000000
1     146.824413        3           3  10970.451318  10000000
2     145.599961        1           2  11878.970272  10000000
3     138.345517        1           4  14566.234539  10000000
4     156.348777        1           3  11908.389165  10000000
5     148.174991        1           5  10890.479732  10000000
6     145.946897        2           3  13502.427435  10000000
7     163.831321        2           2  13482.759267  10000000
8     156.898326        3           2  10264.458824  10000000
9     141.746575        1           4  13268.769037  10000000
10    159.237418        1           1  12038.842783  10000000
11    144.450773        1           1  10768.460758  10000000
12    150.004870        1           3  11555.081167  10000000
13    159.237099        1           1  12592.659245  10000000
14    148.842549        1           1  14215.592711  10000000
15    154.878734        3           3  13908.726645  10000000
16    149.701508        1           3  11912.073091  10000000
17    150.285315        3           4  12266.311828  10000000
18    149.776090        1           3  12510.346243  10000000
19    139.103302        3           3  12922.333777  10000000
20    138.773594        1           2  14480.207051  10000000
21    138.201351        0           4  13260.634547  10000000
22    149.473810        1           2  12470.341847  10000000
23    155.649276        2           4  11056.046802  10000000
24    154.695486        1           3  13339.295332  10000000
25    140.597169        1           3  11865.723651  10000000
26    157.602543        1           2  11534.986703  10000000
27    153.766559        1           5  12837.952374  10000000
28    136.257212        1           3  11579.416342  10000000
29    166.179468        0           3  10594.016484  10000000
..           ...      ...         ...           ...       ...
970   149.957449        1           2  10477.302549  10000000
971   147.730161        3           2  11554.133391  10000000
972   141.386608        2           3   9894.439195  10000000
973   156.586289        3           4  14312.524460  10000000
974   150.125123        2           4  13573.818759  10000000
975   162.942698        2           4  13153.141715  10000000
976   160.950648        1           2  11800.444660  10000000
977   138.462376        3           4  12743.411159  10000000
978   140.895218        2           4  10897.844027  10000000
979   149.704899        1           4  11470.907520  10000000
980   139.889255        1           4  12300.068469  10000000
981   151.324534        1           5  13503.161514  10000000
982   145.745057        1           3  15241.353277  10000000
983   146.670421        1           4  13087.550164  10000000
984   145.025212        1           3  13720.611234  10000000
985   144.008180        1           4  13266.433136  10000000
986   156.719772        1           1  12528.836810  10000000
987   142.793917        0           3  14499.495510  10000000
988   148.485528        1           4  13918.902189  10000000
989   141.602432        3           5  12989.811296  10000000
990   142.596538        1           3  13059.998306  10000000
991   141.507132        3           1  13172.617090  10000000
992   144.108282        1           4  11815.870165  10000000
993   171.157535        1           1  13260.126941  10000000
994   147.608260        1           3  12353.099094  10000000
995   170.565233        1           5  12835.585001  10000000
996   165.423513        2           2  13145.260605  10000000
997   147.365067        0           3  15004.621019  10000000
998   154.823727        1           4  14991.052340  10000000
999   153.294193        0           1  12750.568001  10000000

[1000 rows x 5 columns]

At the moment this concatenation is just a mix of all the random sets simulated previously, with no patterns or stblished models. 

The idea of this project will be relating the data sets to be able to prove or refute an hipotesis.

**Hipothesis**

Just the motivation and level of studies influences the performance of the employees. Either the salary or the hours spent at work represent an influence on the outcome.