## Employees performance and delivered value

![Employee performance](performance.jpg)

#### Description of the topic

The aim of this project is to show the variables that can affect the employee performance in an IT company and the value delivered. 

The data sets will be simulated based as much as possible in the real world behaviour and the variables will be studied to determine the ones that could cause more impact and to see tendences when linking them.

Some variables that could infuence employee performance:

- Time/hours in the workplace
- Employee Motivation
- Training /coferences the employee attends
- Salary
- Length of employment
- Experience in the position
- Employee empowerment
- Initial level of studies
- Meetings the employee has in a day
- Number of interruptions in a day
- Emails received per day


The performance can be measured based on different approaches:

- Delivered value **
- Velocity (measured in story points*)
- Incidents in production
- Defects per story point* 
- Customer satisfaction
- Time to market
- ROI (Return On Investment)
- Completion of individual goals


From the variables above, depending on the initial research, the most significant will be taken for study.

In this first approach the timeframe of the mesurements will be a year.

**Investigation of existing studies**

- _Linking Belgian employee performancemanagement system characteristicswith performance management systemeffectiveness: exploring the mediatingrole of fairness_

https://www.researchgate.net/publication/46469879_Linking_Belgian_employee_performance_management_system_characteristics_with_performance_management_system_effectiveness_Exploring_the_mediating_role_of_fairness 

     Summary: The paper studies the effectiveness of Performance Management System, the variables that influence it and the outcomes of it. 
The main conclusion is that the way of implementing the system has a big influenece in the outcome.

- _Data: Hours worked in 2017_
    https://data.oecd.org/emp/hours-worked.htm

    Summary: Data per country: mean hours worked in 2017

- _The Association of the 24 Hour Distribution of Time Spent in Physical Activity, Work, and Sleep with Emotional Exhaustion._

        Summary: Interesting approach on how to pressent the results of the study with Ternary plot.

- _How do you measure value?_

    https://www.thoughtworks.com/insights/blog/how-do-you-measure-value

    Summary: Key factors and graphical representations on how to measure value in a company.

- _Infographic: You waste a lot of time at work_

    https://www.atlassian.com/time-wasting-at-work-infographic

    Summary: Factors that can reduce employee performance.

- _In an 8-Hour Day, the Average Worker Is Productive for This Many Hours_

    https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/

    Summary: Article about how more hours at work could not translate into more productivity.

- _Wages and Employees Performance: The Quality of Work Life as Moderator._
International Journal of Economics and Financial Issues, 2015, 5(Special Issue) 349-353.

    Summary: Research about how the effect of wages on employees performance are moderated by the quality of work life. It takes into consideration as well promotion policies, democratic supervision, employee involvement and safe working conditions, perception that they want to feel safe, satisfied and get a chance to be able to grow.

    It presents the descriptive statistics about the data in a table.


- _Impact of Motivation on Employee Performances: A Case Study of Karmasangsthan Bank Limited, Bangladesh_

    https://www.omicsonline.org/open-access/impact-of-motivation-on-employee-performances-a-case-study-of-karmasangsthan-bank-limited-bangladesh-.php?aid=86681

        Summary: In this research salary is described as an extrinsic motivation along with Monetary Incentives and Compensation Package.

![Salary impact](salary.png)

        The representation above is extremely valuable for this project as it can be seen that the relationship between salary and motivation will be similar to a exponential distribution.

- _Data Distributions_
http://www.ucd.ie/ecomodel/Resources/Sheet4_data_distributions_WebVersion.html

    Summary: Brief of data distributions.
    
- _Education you need to work at companies like Facebook, Google and Amazon_
https://www.cnbc.com/2017/07/26/how-long-youll-need-to-go-to-school-to-work-at-top-tech-companies.html

    Summary: Level of studies distribution in top tech companies.

**What is understood as value?**

Based on the context of an IT company, value will be presented as:

ROI: Return on investment
Return on investment (ROI) measures the gain or loss generated on an investment relative to the amount of money invested. ROI is usually expressed as a percentage and is typically used for personal financial decisions, to compare a company's profitability or to compare the efficiency of different investments.

The return on investment formula is:

ROI = (Net Profit / Cost of Investment) x 100


_Source: https://www.thoughtworks.com/insights/blog/how-do-you-measure-value_ and https://investinganswers.com/financial-dictionary/technical-analysis/return-investment-roi-1100

From the initial research value is going to be one of the main variable to analyse, eventhough at this stage, the way of measuring it or the distribution that this value can have is quite uncertain.

**Time/hours in the workplace**

From the initial research we could differentiate between time spent at the workplace and productive working hours. From a recent research just 2 hours and 53 minutes of the time spent at the workplace is productive work time.

_Source: https://thriveglobal.com/stories/in-an-8-hour-day-the-average-worker-is-productive-for-this-many-hours/_


In this project the variable will be the amount of hours spent at the workplace as it is usually the measurement taken into account by most of the traditional companies.

**Salary**

Salary or wages has been seen as one of the major components to incentivise employees performance, but is it really a main factor? What would be its data distribution? 

Regarding the questions above, should the data set simulate data on employees in similar positions but different companies to get the most of this project?

https://www.econjournals.com/index.php/ijefi/article/download/1403/pdf

**Motivation**

What is motivation?

Motivation is the word derived from the word ’motive’ which means needs, desires, wants or drives within the individuals. It implies Internal and external factors that stimulate desire and energy in people to be continually interested and committed to a job, role or subject, or to make an effort to attain a goal.

Motivation results from the interaction of both conscious and unconscious factors such as the intensity of desire or need, incentive or reward value of the goal, and expectations of the individual and of his or her peers. These factors are the reasons one has for behaving a certain way.

In the work goal context the psychological factors stimulating the people’s behaviour can be -

- Desire for money
- Success
- Recognition
- Job-satisfaction
- Team work, etc


_Source: https://www.managementstudyguide.com/what_is_motivation.htm , http://www.businessdictionary.com/definition/motivation.html_

**Data Set simulation**

The data set simulation will contain values of 1000 employees in a particular day. 

Each parameter will be simulated according to the distibution more suitable for each of them based on experience and existing papers and research.

The parameters taken into account as imputs are:
- Time/hours in the workplace
- Employee Motivation
- Salary
- Initial level of studies

**_Hours at work data set Simulation_**

In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Mean Hours worked in Ireland 2017, 
#Source: The Organisation for Economic Co-operation and Development (OECD)
TotalhoursIreland = 1738
#calculation mean hours per day (weekends, bank holidays and Annual leave excluded)
#working days in Ireland 232 
meanhd= 1738/232
meanhd

7.491379310344827

In [4]:
#Working hours data set simulation
hours= pd.DataFrame ({"hours": np.random.normal (7.5, 0.5, 1000)})

In [5]:
hours

        hours
0    7.107015
1    8.993858
2    7.840649
3    7.138367
4    7.579476
5    7.498485
6    9.205577
7    6.727840
8    6.570193
9    7.007247
10   7.219607
11   7.510090
12   6.392424
13   8.062622
14   7.397132
15   7.595704
16   6.461610
17   7.656083
18   7.188821
19   7.437628
20   7.038609
21   8.059242
22   6.869719
23   6.565737
24   6.376551
25   7.286428
26   7.244858
27   7.663855
28   7.222643
29   8.108251
..        ...
970  8.602868
971  6.887635
972  7.777656
973  7.804781
974  7.732013
975  8.428044
976  7.026162
977  8.482816
978  7.480014
979  7.366581
980  6.963618
981  7.888004
982  7.076802
983  7.245840
984  8.189337
985  7.635785
986  7.255399
987  6.927535
988  7.850432
989  7.601507
990  7.622018
991  8.317601
992  7.190828
993  8.855888
994  6.909064
995  7.469934
996  6.497963
997  8.058697
998  7.466964
999  7.644920

[1000 rows x 1 columns]

In [6]:
#small test to check that the data set fits the expected
np.mean (hours)

hours    7.501786
dtype: float64

The test gives a positive result as the number is very close to the defined mean for the Numpy Random normal function

The working/hours data set simulation has been generated using the normal distribution. We assume for this study that the company has the same working/hours policy for all employees. We assume that the policy is to work 7.5 h per day, as it's the mean of time spent working in Ireland in 2017. 

_Why a normal distribution?_

The distribution will follow a bell curve where most of the values will be close to 7.5. In the Normal or Gaussian distribution, the variables concentrate around a value and there are very few variables from 3 standar deviation.

In this case, most of the employees would be working around 7,5 hours eventhough for this particular day that we are taking for the data some employees would stay a little bit longer at work or a little bit less than 7.5h.

The mean for this random normal distribution is 7.5h, the standar deviation 0.5 as we assume that the employees follow the company policy and they doesn't vary much the time they spend at work: 30 min is an acceptable deviation.

_**Level of Studies data set simulation**_

![Level of studies](studies.png)

In [7]:
#the distribution of studies level is actually distributed according to percentages
#based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd

undergraduates = 0
bachellors = 1
masters = 2
phd = 3
studies= pd.DataFrame ({"Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12])})

In [8]:
studies

     Studies
0          3
1          1
2          1
3          2
4          1
5          1
6          1
7          1
8          2
9          1
10         1
11         1
12         0
13         2
14         0
15         0
16         1
17         2
18         1
19         2
20         1
21         2
22         1
23         1
24         0
25         1
26         2
27         3
28         3
29         2
..       ...
970        2
971        2
972        1
973        0
974        1
975        1
976        1
977        3
978        3
979        2
980        0
981        1
982        1
983        0
984        2
985        1
986        1
987        2
988        0
989        2
990        1
991        1
992        1
993        1
994        1
995        2
996        1
997        3
998        1
999        2

[1000 rows x 1 columns]

In [9]:
#small test on the data
np.mean (studies)

Studies    1.314
dtype: float64

The test gives a positive result as the number is around 1, the parameter with more probability to appear defined in the np.random.choice funtcion.

We assume that our company is an online company as Airbnb that higly relies on technology to opperate their business.

The np.random.choice funtcion is used to generate a non-uniform random sample.

Why np.random.choice?
The function used to generate this random distribution is np.random.choice as we need to generate a random list that fits in the percentages above: based on data from Airbnb employees 14% undergrad, 53% bachellor, 21% masters, 12% phd. In order to do that np.random.choice provides the ability to set the percentages of the different variables to occur.

Thos figures are based on the investigation, of the real numbers of Airbnb that we consider acceptable for this project as an online company that offers services to final users.

**_Motivation simulation_**

In [10]:
#the motivation of the employees in a company would be totally specific to that company
#here the parameters for this company

No_motivated = 1
Somehow_motivated = 2
Motivated = 3
Very_Motivated = 4
Extremely_Motivated = 5

#as the case will be specific to the company we will calculate a totally random distribution
#Assuming that each value has the same probability of being choosen
#Use randint to generate random integers from low (inclusive) to high (exclusive)
#following the uniform distribution
motivation= pd.DataFrame ({"Motivation": np.random.randint(1,6, size=1000)})

In [11]:
motivation

     Motivation
0             4
1             4
2             4
3             5
4             5
5             1
6             4
7             4
8             5
9             4
10            1
11            3
12            1
13            2
14            1
15            2
16            3
17            1
18            2
19            2
20            3
21            2
22            2
23            3
24            3
25            2
26            5
27            3
28            1
29            5
..          ...
970           5
971           3
972           5
973           5
974           4
975           4
976           3
977           4
978           5
979           1
980           2
981           4
982           2
983           1
984           2
985           5
986           4
987           1
988           3
989           4
990           3
991           4
992           5
993           5
994           5
995           5
996           5
997           1
998           3
999           1

[1000 rows x 1 columns]

In [12]:
#small test on the data
np.mean (motivation)

Motivation    2.955
dtype: float64

The test is sucessful as, using np.random.randint we get random integers from the “discrete uniform” distribution all the numbers have approximately the same possibility of appearing. Te number in the middle of this set of motivation numbers is 3, so if the mean approaches this value the data set performs correctly.


_Why np.random.randint?_
np.random.randint allows to define the interval, setting low and high, needed in this case to set the low to 1 and the high to 5. As the high is not included in np.random.randint, the high in this case is set to 6, so the numbers into consideration are 1 to 5.

The uniform distribution has been chosen in this case and we don't have refence data we assume that any value has the same possibity of apprearing.

**_Salary Simulation_**

Taking as reference: https://www.indeed.com/cmp/Airbnb/salaries

In [13]:
#Mean of the salaries per employee per year
salaries = [157357, 138554, 172386, 164060, 176814, 133565, 138554, 139526, 116099, 122039, 196315]
SumSalaries = sum(salaries)
Meansalaries = SumSalaries/11
Meansalaries

150479.0

In [14]:
#standard deviation
# analyse from the mean what is the deviation to the higher value
#higher value
a = 196315
hsd= a - Meansalaries
hsd

45836.0

In [27]:
#This is the highest diference, and most of the values will be within 3 standard deviations
std= hsd/3

In [28]:
std

15278.666666666666

In [16]:
#standard deviation
# analyse from the mean what is the deviation to the lowest value
#higher value
b = 116099
Meansalaries -b

34380.0

In [25]:
#Using the standard normal distribution as is more probable to get a salary around 150479
#This mean wll be used as the mean for the standar normal distribution
salary= pd.DataFrame ({"Salary": np.random.normal (150479, std, 1000)})

In [26]:
salary

            Salary
0    168740.664003
1    129959.190529
2    148688.777486
3    158129.833655
4    158928.489164
5    115684.403855
6    137511.729517
7    134248.751912
8    136441.248708
9    158871.616540
10   161918.295352
11   166228.617913
12   170171.838444
13   165519.486320
14   177334.945450
15   150756.758865
16   143723.651495
17   161846.301728
18   143612.052904
19   145489.642949
20   150353.631688
21   164866.010933
22   177541.127800
23   146816.515145
24   133856.177508
25   143292.016189
26   160696.660216
27   149986.986866
28   175338.355110
29   162653.383611
..             ...
970  144832.171730
971  145265.879746
972  160870.126094
973  155021.490553
974  158714.425766
975  129366.904592
976  163727.437823
977  150367.358004
978  157643.987066
979  131989.032032
980  157632.007923
981  142219.685542
982  163348.348228
983  151671.976265
984  131969.323214
985  164787.734177
986  158353.897498
987  177126.507351
988  158979.996411
989  165056.655441
990  155888.800697
991  141520.112933
992  142031.436287
993  176351.731847
994  148015.166674
995  144423.395687
996  128721.945418
997  132510.443383
998  148812.802646
999  134647.913689

[1000 rows x 1 columns]

In [19]:
#small test on the data
np.mean (salary)

Salary    150317.198909
dtype: float64

The test is correct as the ean for this distribution is 150479 $.

The salary is normaly distributed around the mean, with smaller probability of getting 196315 $ then to get the values around the mean 150479.

_Why standard normal distribution?_ 

As per the data observed most of the salaries vary in a range between 130000 dolars and 170000 dolars so getting the mean of all the salaries will set this intermediate point. The maximum 196315 dolars, or the minimum 116099 dolars are rare expections, so setting the deviation in this range can give an approximate simulation of the salaries in a company.

**Concatenating the simulated data**

In [37]:
#Concatenating the simulated data
dataset = pd.DataFrame({"Hours": np.random.normal (7.5, 0.5, 1000), "Studies": np.random.choice(4, 1000, p=[0.14, 0.53, 0.21, 0.12]), "Motivation": np.random.randint(1, 6, size=1000), "Salary": np.random.normal(150479, 15278, 1000)})

In [38]:
dataset

        Hours  Studies  Motivation         Salary
0    8.387588        1           2  173417.681766
1    8.056298        2           5  174382.068861
2    7.771044        1           4  171766.359603
3    7.153586        1           2  162308.797546
4    8.037578        1           4  142145.217336
5    7.222644        1           5  150979.132774
6    7.303513        2           1  154224.421124
7    7.436920        0           4  153733.656770
8    7.630960        1           1  169738.593034
9    7.412222        3           2  140640.782941
10   7.914269        2           1  170076.518528
11   8.334704        2           2  141353.792521
12   7.375801        2           2  150562.500839
13   9.022711        2           3  134358.980852
14   6.585428        3           4  161940.986262
15   7.193411        2           1  126911.884907
16   6.623648        3           1  160593.923064
17   8.204124        0           1  131847.233698
18   7.583375        0           2  144837.901115
19   7.395504        2           1  197602.321558
20   8.037652        1           5  146914.333226
21   7.084381        0           5  154936.081311
22   7.205441        2           3  102591.920983
23   6.942425        0           2  133547.794679
24   7.942481        0           4  151680.304311
25   7.467507        2           3  139241.536515
26   7.087438        1           1  138508.498151
27   7.287268        3           5  165802.231661
28   6.851928        0           2  147345.364967
29   7.488304        1           4  116615.311222
..        ...      ...         ...            ...
970  7.156655        1           5  144491.745955
971  7.780835        3           3  154343.890032
972  7.775369        1           2  125205.531189
973  6.979663        2           5  121632.550334
974  7.239864        0           2  141114.231654
975  6.830145        0           1  150190.004800
976  7.333285        3           4  170458.917546
977  7.820465        2           2  155563.257306
978  7.687059        1           4  159714.898821
979  7.328174        1           3  166443.695104
980  7.399293        1           5  145096.160771
981  7.421179        1           5  140784.663818
982  7.475433        1           1  194839.471727
983  7.315516        3           2  164057.200953
984  8.010816        1           2  152913.499412
985  8.834414        1           1  164621.415697
986  7.729010        1           3  154993.981905
987  7.477963        0           4  151596.977765
988  7.151850        2           2  136697.615559
989  8.043070        1           3  144063.488781
990  7.767670        1           1  143702.729146
991  7.124588        1           4  160761.445960
992  7.772407        3           1  176138.976196
993  7.698106        2           3  167321.286387
994  7.180184        0           1  147791.440209
995  7.018622        1           3  154156.220631
996  7.262796        1           2  169646.137425
997  8.509263        1           5  170234.415256
998  7.537218        1           1  116835.613803
999  7.518990        0           4  133297.541499

[1000 rows x 4 columns]